<div class="jumbotron shadow-sm mt-2">
    <h1>Welcome to Firestarter</h1>

    <p>I am a Progressive Web App (PWA) built with Angular and Firebase.</p>

    <a class="mr-2" href="https://slackin-pbfjhfxnsa.now.sh">
        <img src="https://slackin-pbfjhfxnsa.now.sh/badge.svg">
    </a>
    <a href="https://circleci.com/gh/codediodeio/angular-firestarter">
        <img src="https://circleci.com/gh/codediodeio/angular-firestarter.svg?style=svg">
    </a>
</div>

<div class="card-deck">
    <div class="card shadow-sm">
        <div class="card-image-top slack-card">
            <div class="card-icon">
                <div class="icon-bg">
                    <i class="fab fa-slack-hash fa-10x"></i>
                </div>
            </div>
            <h4 class="card-title">Have Questions?</h4>
        </div>
        <div class="card-body">
            <p class="card-text">
                Let's talk on the <a target="blank" href="https://goo.gl/qF8Q5r"> Angular Firebase Developers Slack Team.</a>
            </p>
        </div>
    </div>
    <div class="card shadow-sm">
        <div class="card-image-top youtube-card">
            <div class="card-icon">
                <div class="icon-bg">
                    <i class="fab fa-youtube fa-10x"></i>
                </div>
            </div>
            <h4 class="card-title">Free Open Source Screencasts</h4>
        </div>
        <div class="card-body">
            <p class="card-text">
                Subscribe to the <a href="https://www.youtube.com/channel/UCsBjURrPoezykLs9EqgamOA">AngularFirebase YouTube Channel</a> for weekly lessons.
            </p>
        </div>
    </div>
</div>