<div class="sticky-top my-2">
  <div *ngIf="auth.user | async; then authenticated else guest">
    <!-- template will replace this div -->
  </div>
</div>

<!-- User NOT logged in -->
<ng-template #guest>
  <div class="card card-body shadow-sm">
    <h4 class="card-title">Login to begin!</h4>
    <button class="btn btn-primary" routerLink="/login">
      Login
      <i class="fas fa-sign-in-alt"></i>
    </button>
  </div>
</ng-template>

<!-- User logged in -->
<ng-template #authenticated>
  <div class="card shadow-sm" *ngIf="auth.user | async as user">
    <img class="card-img-top" [src]="user.photoURL || 'https://api.adorable.io/avatars/109/fire.png'">
    <div class="card-body">
      <h4 class="card-title">{{ user.displayName }}</h4>
      <p class="card-text text-muted small">ID: {{ user.uid }}</p>
    </div>
  </div>
</ng-template>