<ngb-tabset [justify]="'justified'">
    <ngb-tab title="Sign in">
        <ng-template ngbTabContent>
            <form class="form card card-body login-card" [formGroup]="userForm" (ngSubmit)="login()">
                <label for="email">Email</label>
                <input type="email" id="email" class="form-control mb-3" formControlName="email" required>
            
                <div *ngIf="formErrors.email" class="form-text text-danger">
                    {{ formErrors.email }}
                </div>
            
                <label for="password">Password</label>
                <input type="password" id="password" class="form-control mb-3" formControlName="password" required>
            
                <small *ngIf="formErrors.password" class="form-text text-danger">
                    {{ formErrors.password }}
                </small>
            
                <button type="submit" class="btn btn-primary" [disabled]="!userForm.valid">Sign In</button>
            
                <span *ngIf="userForm.valid" class="form-text text-success">Form Looks Valid</span>
            
                <a *ngIf="!passReset && userForm.controls.email.valid" class="btn btn-link" (click)="resetPassword()">Reset Password for {{userForm.value.email}}?</a>
                <p *ngIf="passReset" class="form-text text-info">Reset requested. Check your email instructions.</p>
            </form>
        </ng-template>
    </ngb-tab>
    <ngb-tab title="Sign up">
        <ng-template ngbTabContent>
            <form class="form card card-body login-card" [formGroup]="userForm" (ngSubmit)="signup()">
                <label for="email">Email</label>
                <input type="email" id="email" class="form-control mb-3" formControlName="email" required>
            
                <div *ngIf="formErrors.email" class="form-text text-danger">
                    {{ formErrors.email }}
                </div>
            
                <label for="password">Password</label>
                <input type="password" id="password" class="form-control mb-3" formControlName="password" required>
            
                <div *ngIf="formErrors.password" class="form-text text-danger">
                    {{ formErrors.password }}
                </div>
            
                <div *ngIf="userForm.valid" class="form-text text-success">Form is valid</div>
                <button type="submit" class="btn btn-primary" [disabled]="!userForm.valid">Sign Up</button>
            
            </form>
        </ng-template>
    </ngb-tab>
</ngb-tabset>