<div class="card card-body mt-2">
  <h1 class="card-title h2">Angular Universal Server Rendered Page</h1>

  <p class="card-text mb-0">
    This page is prerendered with Angular Universal and is 100% search engine and linkbot friedly - and highly performant. Give this URL a whirl in the
    <a href="https://cards-dev.twitter.com/validator">twitter-card validator</a>.
  </p>
  
  <hr>

  <p class="card-text">
    <i class="fas fa-fire mr-2"></i> Learn all about <a href="https://angularfirebase.com/tag/ssr/">server-side rendering strategies in Angular</a>.
  </p>
</div>

<hr>

<h2>Dynamic Firebase Data</h2>

<p>Need SSR with dynamic Firebase data? No problem. Here are some animals I retrieved from Cloud Firestore.</p>

<div *ngFor="let animal of animals" class="card mb-3">
  <div class="row no-gutters">
    <div class="col-lg-3 col-md-4 col-6">
      <img class="img img-responsive rounded-left h-100 w-100 mb-0" [src]="animal.imgURL" alt="{{ animal.bio }}">
    </div>
    <div class="col">
      <div class="card-body ml-2">
        <h4 class="card-title">{{ animal.name }}</h4>
        <p class="card-text">{{ animal.bio }}</p>
      </div>
    </div>
  </div>
</div>