app-root:empty + .loading {
  opacity: 1;
  z-index: 100;
  h1 {
      font-family: "courier", monospace;
      font-weight: 400;
      margin-bottom: 50px;
  }
}

/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Palanquin|Source+Sans+Pro');
@import 'bootstrap/scss/bootstrap.scss';
// @import '@fortawesome/fontawesome-free/scss/fontawesome.scss';

// Colors
$white: #fff !default;
$black: #000 !default;
$red: #d9534f !default;
$orange: #f0ad4e !default;
$yellow: #ffd500 !default;
$green: #5cb85c !default;
$blue: #0275d8 !default;
$teal: #5bc0de !default;
$pink: #ff5b77 !default;
$purple: #613d7c !default;
// Grayscale
$gray-dark: #222;
$gray: #212121;
$gray-light: #666;
$gray-lighter: #bbb;
$gray-lightest: #eee;

///// Content
$heading-font: 'Palanquin', sans-serif;

body {
  margin-top: 3.55rem;
  overflow-y: scroll;
}


nav {
  height: 3.5rem;
}

.navbar-brand  {
  display: flex;
  align-items: center;
  font-size: 1.35rem;
  font-weight: 700;
  font-family: $heading-font;
  
  img {
    width: 35px;
    margin-right: 0.75rem;
  }
}

///// Social Buttons

.btn-twitter {
  color: #55ACEE !important;
  // color: white;

  &:hover, &:focus {
    color: white !important;
    background-color: #55ACEE;
  }
}

.btn-facebook {
  color: #3B5998 !important;
  // color: white;

  &:hover, &:focus {
    color: white !important;
    background-color: #3B5998;
  }
}

.btn-github {
  color: #333333 !important;
  // color: white;

  &:hover, &:focus {
    color: white !important;
    background-color: #333333;
  }
}

.btn-google {
  color: #DD4B39 !important;
  // color: white;

  &:hover, &:focus {
    color: white !important;
    background-color: #DD4B39;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
  font-weight: 700;
}

.slack-card, .youtube-card {
  padding: 1.75rem 0;
  border-radius: 0.25rem 0.25rem 0 0;
  overflow: hidden;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.youtube-card {
  background: #e52d27;
  background: linear-gradient(to right, #b31217, #e52d27);
}

.slack-card {
  background: #3eb991;
  background: linear-gradient(to right, #18936B, #3eb991);
}

.card-icon {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  overflow: hidden !important;

  .icon-bg {
    display: block;
    color: rgba(255, 255, 255, 0.255);
    transform: rotate(33deg) translate(-33%, 0%)
  }
}